.error-notification .MuiSnackbarContent-root {
  padding: 12px 20px;
  background-color: var(--blue-dark);
  font-size: 16px;
}

.error-notification .MuiSnackbarContent-message {
  color: var(--white-light);
}