.vestibule-panel {
  flex-grow: 1;
  margin: auto 5vw;
}

.vestibule-waiting, .vestibule-ready {
  margin: auto;

  display: flex;
  flex-direction: column;
}

.vestibule-loading {
  margin: 20px auto;
}

.vestibule-actions {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avatar-placeholder {
  margin: 20px auto;
}
