.chatroom-container {
  background-color: var(--white-lighter);
  width: 20vw;
  display: flex;
  flex-direction: column;

  border-left: 1px solid var(--gray);
}

.chatroom-hide {
  display: none;
}

.chatroom-header {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--blue-light);
}

.chatroom-header h2 {
  font-size: 18px;
}

.chatroom-messages {
  overflow: auto;
  flex-grow: 1;
}

.chatroom-footer {
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid var(--gray-light);
  border-radius: 4px;
}

.chatroom-footer input {
  background-color: #00000000;
  /* transition: 100ms; */
}


.chatroom-footer button {
  background-color: var(--blue);
  padding: 0px;
  color: #fff;
  flex-shrink: 1;
  width: 40px;
  border-radius: 4px;
}