.media-preview {
  flex-grow: 1;
  margin: auto 5vw;
}

.media-preview-placeholder {
  width: 40vw;
  height: 30vw;
  border-radius: 25px;
  background-color: var(--gray);
  margin: auto;
}

.media-btns {
  display: flex;
}