.super-room-container {
    display: flex;
}

.room-container {
    height: 100vh;
    width: 100vw;
}

.room-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 20px 0px;
}

.room-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.room-form-input {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    text-align: left;
}

.room-form-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
}

.room-form-checkbox input[type='checkbox'] {
    margin: 0px 12px 0px 0px;
}


label {
    margin: 4px 0px;
}

input {
    margin: 4px 0px 20px;
}

.room-actions .room-form-btn {
    margin: 0px;
}

.room-header p {
    margin-top: 20px;
    text-align: left;
}

.room-joining-strict {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

@keyframes loadingFade {
    from {opacity: 1.0;}
    to {opacity: 0.4;}
}

.room-joining-strict h2 {
    text-align: center;
    margin: 20px 0px 20px;
    animation: 500ms ease 0ms infinite alternate-reverse loadingFade;
}

.room-id-label {
    text-align: center;
    margin: 8px 0px 20px;
}

.room-joining-strict .room-actions {
    margin-top: 40px;
}

.room-view .room-actions {
    margin-top: 20px;
}

#passwordConfirmMsg {
    margin-bottom: 12px;
    color: var(--orange);
}

.hidden-message {
    display: none;
    transition: 500ms;
}

.hidden {
    display: none;
}

.invalid-room {
    padding: 12px;
}